<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/skeleton.css">
  <link rel="stylesheet" href="./styles.css">
  <title>Calculator</title>
</head>
<body>
  <div class="container">
    <div id="calcDisplay" class="row">
      <input class="calculator-display" id="display" type="text" disabled />
    </div>
    <div id="calcBtnsContainer" class="row"></div>
  </div>
  <div id="mocha"></div>
  <script type="text/template" id ="bntItemTemplate">
    <button data-id="{{id}}" type="button" value="{{value}}" class="btn">{{sign}}</button>
  </script>
  
  <script src="https://unpkg.com/chai/chai.js"></script>
  <script src="https://unpkg.com/mocha/mocha.js"></script>

  <script class="mocha-init">
    mocha.setup('bdd');
    mocha.growl(); 
  </script>

  <script>
    var assert = chai.assert;
  </script>

  <script src = "./script.js"></script>
  <script src = "./testCalc.js"></script>

  <script class="mocha-exec">
    mocha.run();
  </script>
  
</body>
</html>