.container {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.list-item {
  cursor: pointer;
  user-select: none;
}

ul.list > li {
  display: block;
  background-color: #a3a1a7;
  padding: 10px;
  
}

.list-item > ul {
  background-color: #7d7985;
}

ul {
  list-style: none;
  padding: 10px;
}

.list-item > ul > .list-item > ul{
  background-color: #68666e;
}

.list-item > ul > .list-item > ul > .list-item > ul {
  background-color: #4a4852;
}