<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
  <link rel="stylesheet" href="./css/dark-theme.css">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/skeleton.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>List of users</title>
</head>
<body>
  <div class="container">    
    <div class="six columns">
      <table class="table-data u-full-width" id="usersDataTable">
        <tr class="table-data__header" id="tableDataHeader">
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Age</th>
        </tr>
      </table>
      <div class="data-access u-full-width">
        <button class="data-access__button" id="clearTableData">clear</button>
        <button class="data-access__button" id="saveTableData">save</button>
        <button class="data-access__button" id="readTableData">read</button>
      </div>
    </div>
    <div class="six columns">
      <form class="user-form" id="userDataForm">
        <input type="number" id="userIdInput" class="user-form__input u-full-width" placeholder="ID"></input>
        <input type="text" id="userFirstNameInput" class="user-form__input u-full-width"  placeholder="FirstName"></input>
        <input type="text" id="userLastNameInput" class="user-form__input u-full-width"  placeholder="LastName"></input>
        <input type="number" id="userAgeInput" class="user-form__input u-full-width"  placeholder="Age"></input>
      </form>
      <div class="user-data-modify u-full-width">
        <button class="user-data-modify__button" data-add="start" id="addStartBtn">add Start</button>
        <button class="user-data-modify__button" data-add="middle" id="addMiddleBtn">add middle</button>
        <button class="user-data-modify__button" data-add="end" id="addEndBtn">add End</button>
        <button class="user-data-modify__button" id="userReadBtn">search</button>
        <button class="user-data-modify__button" id="userUpdateBtn">Update</button>
        <button class="user-data-modify__button" id="userDeleteBtn">Delete</button>
      </div>
    </div>
  </div>

  <script type="text/template" id ="userItemTemplate">
    <td>{{ID}}</td>
    <td>{{FirstName}}</td>
    <td>{{LastName}}</td>
    <td>{{Age}}</td>
  </script> 
  
  <div id="mocha"></div>

  <script src="https://unpkg.com/chai/chai.js"></script>
  <script src="https://unpkg.com/mocha/mocha.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/7.5.0/sinon.js"></script>
 
  <script src="./js/script.js"></script>
  <script src="./js/test.js"></script>
  
</body>
</html>