.calc_display (@height, @fontSize) {
  border: none;
  text-align: right;
  min-width: 99%;
  min-height: @height;
  font-size: @fontSize;
} 

.bordered (@color, @radius) {
  border: 1px solid @color;
  border-radius: @radius;
}
