@import './css/normalize.css';
@import './css/skeleton.css';
@import './_colors.less';
@import './_mixins.less';

.container {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
  }
}

.calculator {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  .bordered(@alto, 5px);
    
  .calculator__display-wrapper  {
    margin-bottom: 20px;
    .bordered(@alto, 10px);

    .calculator__display-Ans {
      .calc_display(30px, 1.5rem);
    }

    .calculator__display {
      .calc_display(40px, 3rem);
    }
  }

  .calculator__button {
      width: 13%;
      margin-right: 8px;
      background-color: @alto;
      text-transform: initial;
      font-size: 1.4rem;

      &:first-child::after {
        content: "|";
        position: absolute;
        left: 107px;
        color: @dusty-grey;
        width: 10px;
        height: 37px;
        .bordered(@alto, 0);
        background-color: @alto;
        
      }
    }
    .calculator__button_main-button {
      background-color: @gallery;
    }
    
    .calculator__button_non-active {
      color: @dusty-grey;
      border-color: @alto;
    }
    
    .calculator__button_equal-button {
      color: @white;
      font-weight: bold;
      background-color: @steel-blue;
    }  
}


